.popular{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background: linear-gradient(180deg, #fff, #e600495d);

}
.popular h2{
    font-size: 36px;
    color:#e60049a1;
    opacity: 0.9;
    padding-top: 1.5rem;
}
.popular hr{
    width: 90%;
    background-color:#e600495d;
    height: 2px;
    border: none;
  
   

}
.popular-item{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    
}
@media screen and (max-width: 1280px) {
    .popular{
       justify-content: flex-start;
       align-items: center;
       height: max-content;
    }
    .popular-item{
        justify-content: center;
    }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 600px) {
    .popular-item{
        justify-content: center;
        width: 100%;
    }
    .popular h2{
        text-align: center;
        font-size: 30px;
    }
   
}
@media screen and (max-width: 500px) {
}